.content {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.content ul,
.content ol {
  padding-left: 20px;
}
.content td {
  padding: 10px;
}
.content p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.content a {
  color: #f62a45de;
  font-weight: 500;
  text-decoration: underline;
}
.content:not([dir="rtl"]) blockquote {
  border-left: 4px solid #f62a45de;
  margin-left: 1.5rem;
  padding-left: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}
.content blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
